<!DOCTYPE html>
<#assign base=request.contextPath />
<html>
<head lang="en">
    <base id="base" href="${base}">
    <title>控制面板</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link href="${base}/static/css/bootstrap.min.css" type="text/css" rel="stylesheet"/>
    <link href="${base}/static/css/bootstrap-theme.min.css" type="text/css" rel="stylesheet"/>
    <style type="text/css">
        .container{
            width: 700px;
        }
    </style>
    <script type="application/javascript" src="${base}/static/js/jquery.min.js"></script>
    <script type="application/javascript" src="${base}/static/js/bootstrap.min.js"></script>

</head>
<body>
<div class="container" style="margin-top: 20px">
<div class="col-lg-4">
<button type="button" onclick="controlPanel.start()" class="btn btn-primary btn-block">开始抓取</button>
<button type="button" onclick="controlPanel.stop()" class="btn btn-default btn-block">停止抓取</button>
    <form class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-4 control-label">总量:</label>
            <div class="col-sm-8">
                <label class="control-label" id="totalDoc">0</label>
            </div>
        </div>
    </form>
</div>
    <div class="col-lg-8">
        <div class="panel panel-default">
            <div class="panel-body" id="display">

            </div>
        </div>
    </div>
</div>
<script type="application/javascript">
    var base = $('#base').attr('href');
    var controlPanel = {
        display:'#display',
        stateLooper:null,
        append:function(info){
            $(display).append('<p>'+info+'</p>')
        },
        start:function(){
            var that = this;
            $.get(base+"/spider/start",function(data){
                that.append(data.info);
                if(data.success){
                    that.stateLoopRestart();
                }
            },'json');
        },
        stop:function(){
            var that = this;
            $.get(base+"/spider/stop",function(data){
                that.append(data.info);
            },'json');
        },
        stateLoopStart:function(){
            this.stateLooper = setInterval(function(){
                $.get(base+"/spider/state",function(data){
                    $('#totalDoc').html(data.totalDoc)
                },'json');
            },3000);
        },
        stateLoopStop:function(){
            clearInterval(this.stateLooper);
        },
        stateLoopRestart:function(){
            this.stateLoopStop();
            this.stateLoopStart();
        },
        getMessage:function(){
            var that = this;
            $.get(base+"/message/get",function(data){
                if(data.status==0){
                    $.each(data.messages,function(i,n){
                        that.append(n.info);
                    });
                }
            },'json')
        },
        loopMessage:function(){
            var that = this;
            setInterval(function(){
                that.getMessage();
            },3000);
        }
    }
    controlPanel.loopMessage();
</script>
</body>
</html>